@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

:root {
  --primary-color: #800000;
  --secondary-color: #666666;
  --dark-color: #4b0000;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}
li a {
  text-decoration: none;
  color: #333;
}
h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}
p {
  margin: 10px 0;
}
img {
  width: 100%;
  line-height: 0;
}
code,
pre {
  background: #333;
  color: #fff;
  padding: 10px;
}

.hidden {
  visibility: hidden;
  height: 0;
}
/* Header */
.header {
  background: linear-gradient(45deg, #b10000, #530000), url(../images/code.jpg);
  background-blend-mode: hard-light;
  background-attachment: fixed;
}

/* Navbar */
.navbar {
  /* background-color: var(--primary-color); */
  color: #fff;
  height: 100px;
}

.navbar ul {
  display: flex;
  padding: 10px;
}
.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
  position: relative;
  transition: transform 0.3s ease-in-out;
  font-weight: 400;
}
.navbar nav a:hover {
  color: #e40000;
  transition: all 0.3s linear;
}
.navbar nav a::after {
  content: "";
  transform: scale(0);
}
.navbar nav a:hover::after {
  content: "";
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  transform: scale(1);
  transform-origin: right;
  transition: all 0.3s linear;
}

.navbar .flex {
  justify-content: space-between;
}
.logo-link {
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}
.logo-link:hover {
  transform: scale(1.05);
}
.logo-container {
  background-color: var(--secondary-color);
  padding: 0.6em 0.8em;
  border-radius: 5px;
  min-width: fit-content;
}
.logo-jab {
  background-color: var(--primary-color);
  padding: 0.2em;
  margin-right: 0.2em;
}
.navbar nav {
  background: #6666667a;
  border-radius: 5px;
}

/* Showcase */
.showcase {
  height: 400px;
  /* background-color: var(--primary-color); */
  color: #fff;
  position: relative;
}
.showcase h1 {
  font-size: 2.5rem;
}
.showcase p {
  margin: 20px 0;
}
.showcase .grid {
  grid-template-columns: 55% 45%;
  gap: 30px;
  overflow: visible;
}
.showcase-text {
  animation: slideInFromLeft 1s ease-in;
}
.showcase-form {
  position: relative;
  top: 60px;
  height: 450px;
  width: 400px;
  padding: 40px;
  z-index: 100;
  text-align: center;
  justify-self: end;
  color: #333;
  animation: slideInFromRight 1s ease-in;
}
.showcase-form .form-control {
  margin: 30px 0;
}
.showcase-form input[type="text"],
.showcase-form input[type="email"] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 1rem;
}
.showcase-form textarea {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
.showcase-form input:focus,
.showcase-form textarea:focus {
  outline: none;
}
.showcase::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: white;
  transform: skewY(-3deg);
}

/* Stats */
.stats {
  padding-top: 10em;
  animation: slideInFromBottom 1s ease-in;
}
.stats-heading {
  max-width: 500px;
  margin: 2em auto;
  font-weight: 300;
}
.stats .grid {
  transition: all 0.4s ease-in-out;
  grid-template-columns: repeat(auto-fill, minmax(min(15rem, 100%), 1fr));
}
.stats .grid h3 {
  font-size: 2rem;
}
.stats .grid p {
  font-size: 1.5rem;
  /* font-weight: bold; */
}
.stat-grid-item {
  justify-self: stretch;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3em;
}
.stat-grid-item {
  transition: all ease-in-out 0.2s;
}
.stat-grid-item:hover {
  transform: translateY(-10px);
}
.stats .one:hover::after {
  content: "Call or Text anytime. I strive to be your go-to digital consultant.";
  font-size: 1.2rem;
  line-height: 1.2;
  position: absolute;
  bottom: -4em;
  text-align: center;
  color: var(--secondary-color);
}
.stats .two:hover::after {
  content: "Create a special looking website as unique as your brand.";
  font-size: 1.2rem;
  line-height: 1.2;
  position: absolute;
  bottom: -4em;
  transition: all 1s ease-in-out;
  display: block;
  z-index: 100;
  text-align: center;
  color: var(--secondary-color);
}
.stats .three:hover::after {
  content: "Search engine friendly design which are customizable to your marketing needs.";
  font-size: 1.2rem;
  line-height: 1.2;
  position: absolute;
  bottom: -5em;
  transition: all 1s ease-in-out;
  display: block;
  z-index: 100;
  color: var(--secondary-color);
}
.stats .four:hover::after {
  content: "Got data? I got the knowledge and tools to find the patterns you've been looking for.";
  font-size: 1.2rem;
  line-height: 1.2;
  position: absolute;
  bottom: -5em;
  transition: all 1s ease-in-out;
  display: block;
  z-index: 100;
  color: var(--secondary-color);
}

/* CLI */
.cli .grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.cli .grid :first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

/* Cloud */
.cloud {
  background: radial-gradient(var(--primary-color), var(--secondary-color));
  color: #fff;
  margin-bottom: 0;
}
.cloud .grid {
  grid-template-columns: 4fr 3fr;
}
.cloud-text {
  font-family: "Dancing Script", cursive;
  line-height: 1.2;
  text-shadow: 1px 1px 5px white;
}

/* Languages */
.languages {
  background: white url(../images/code-light.jpg);
  background-attachment: fixed;
}
.languages-container {
  padding: 0 60px;
}
.languages-lead {
  margin-top: 0;
  padding-top: 2em;
  font-weight: 700;
}
.languages strong {
  color: var(--primary-color);
}
.languages .flex {
  flex-wrap: wrap;
}
.langages * {
  transition: all 0.5s ease-in-out;
}
.languages .card {
  text-align: center;
  margin: 18px 10px 40px;
  transition: all ease-in-out 0.2s;
  max-width: 20em;
  background: radial-gradient(circle at 100%, #666, #aaa 50%, #333);
  color: #fff;
  /* font-weight: bold; */
  transition: all 0.5s ease-in-out;
  padding: 0;
}
.languages .card h4 {
  font-size: 1.6rem;
  font-weight: 400;
  /* margin-bottom: 10px; */
}
.languages .card:hover {
  transform: translateY(-10px);
  background: radial-gradient(
    circle at 100%,
    rgb(189, 189, 189),
    rgb(202, 202, 202) 50%,
    #eee
  );
  color: black;
}
.languages .card img {
  /* height: 8em;
    width: auto;
    border-radius: 10%; */
  height: auto;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.languages .card span {
  text-align: center;
  font-size: 1.2rem;
  width: 5em;
  margin: auto;
}
.question-text {
  line-height: 1.2;
}

/* portfolio */
.portfolio-header {
  background: linear-gradient(45deg, #b10000, #530000),
    url(../images/computer.jpg);
  background-size: cover;
  background-position: bottom;
  background-blend-mode: hard-light;
  background-attachment: fixed;
  color: white;
  height: 25em;
}
.portfolio-head a,
.about-head img {
  width: 200px;
  justify-self: center;
}
.portfolio-item a {
  width: 300px;
  justify-self: center;
  transition: all 0.3s ease-in-out;
}
.portfolio-item a:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px black;
  /* border-radius: 10px; */
}

.portfolio-grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 50px;
  overflow: hidden;
  padding-bottom: 1em;
  margin-bottom: 2em;
}
.portfolio-grid img {
  transition: all 0.3s ease-in-out;
  width: 300px;
  margin: 0 30px;
}
.portfolio-grid img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px var(--dark-color);
  /* border-radius: 10px; */
}
.portfolio-grid-one {
  grid-column: 1 / span 2;
  animation: slideInFromLeft 1s ease-in;
  max-height: 17em;
  text-align: center;
}
.portfolio-grid-two {
  grid-column: 2 / span 2;
  animation: slideInFromRight 1s ease-in;
  max-height: 17em;
  text-align: center;
}
.portfolio-grid-three {
  grid-column: 1 / span 2;
  animation: slideInFromTop 1s ease-in;
  max-height: 17em;
  text-align: center;
}

.portfolio-main .card i {
  margin-right: 20px;
}
.portfolio-main .grid {
  padding: 30px;
}
.portfolio-main .grid :nth-child(1) {
  grid-column: 1 / span 3;
  max-height: 15em;
  padding: 0.3em;
  text-align: center;
}
.portfolio-main .grid :nth-child(2) {
  grid-column: 2 / span 4;
}
.portfolio-main .grid :nth-child(3) {
  grid-column: 1 / span 3;
}

/* About */
.about-header {
  background: linear-gradient(45deg, #b10000, #530000),
    url(../images/canada-pride.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-blend-mode: hard-light;
  background-attachment: fixed;
  color: white;
  height: 25em;
}
.about-title {
  animation: slideInFromTop 1s ease-in;
}
.about-sub-head .flex {
  position: relative;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap-reverse; */
}
.about-sub-head .info {
  /* margin-left: 10%; */
  max-width: 60vw;
  animation: slideInFromLeft 1s ease-in;
}
.profile-image {
  width: 400px;
  height: auto;
  box-shadow: inset 1px 1px 10px black;
  position: relative;
  right: 0;
  animation: slideInFromRight 1s ease-in;
}
.pricing {
  max-width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}
.map {
  margin-bottom: 2em;
}

.docs-main h3 {
  margin: 20px 0;
}
.docs-main .grid {
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;
}
.docs-main nav li {
  font-size: 17px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px #ccc solid;
}
.docs-main a:hover {
  font-weight: bold;
}
.bullet {
  list-style-type: disc;
}

/* Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Footer */
.footer {
  padding-top: 5em;
  position: relative;
  background: radial-gradient(var(--dark-color), var(--primary-color));
}
.footer::before {
  content: "";
  position: absolute;
  height: 100px;
  top: -40px;
  right: 0;
  left: 0;
  background: var(--light-color);
  /* opacity: .8; */
  transform: skewY(2deg);
  z-index: 100;
}
.footer::after {
  content: "";
  position: absolute;
  height: 100px;
  top: -40px;
  right: 0;
  left: 0;
  background: var(--light-color);
  /* opacity: .8; */
  transform: skewY(-2deg);
  z-index: 100;
}
.footer-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;
}
.footer-flex > * {
  text-decoration: none;
}
.logo-container-footer {
  width: fit-content;
  margin: auto;
}
.footer ul {
  font-weight: 400;
}
.footer .copy {
  margin: 2em 0 0;
  padding: 0.5em;
  font-size: 1.3rem;
}
.footer-nav a:hover,
.footer-flex a:hover {
  color: black;
  transition: all 0.3s ease-in-out;
}
/* Tablets and under */
@media (max-width: 1100px) {
  .portfolio-grid-one,
  .portfolio-grid-two .portfolio-grid-three {
    grid-column: 1/4;
  }
}
@media (max-width: 800px) {
  .stats .one:hover::after {
    bottom: -4em;
  }
  .stats .two:hover::after {
    bottom: -4em;
  }
  .stats .three:hover::after,
  .stats .four:hover::after {
    bottom: -4em;
  }
  .about-sub-head .flex {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .about-sub-head .flex > *:not(img) {
    text-align: center;
    max-width: 90%;
  }
  .about-sub-head .info {
    padding: 10px 0;
  }
  .about-sub-head .info h1 {
    font-size: 3rem;
  }
}
@media (max-width: 768px) {
  .grid,
  .showcase .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid,
  .portfolio-main .grid,
  .docs-main .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .showcase {
    height: auto;
  }
  .showcase-text {
    text-align: center;
    margin-top: 40px;
    animation: slideInFromTop 1s ease-in;
  }
  .showcase-form {
    justify-self: center;
    animation: slideInFromBottom 1s ease-in;
    padding: 20px;
  }

  .cli .grid > *:first-child {
    grid-column: 1;
    grid-row: 1;
  }
  .portfolio-head,
  .portfolio-sub-head,
  .docs-head {
    text-align: center;
  }
  .portfolio-main .grid :nth-child(1),
  .portfolio-main .grid :nth-child(2) {
    grid-column: 1;
  }
  .portfolio-grid-one,
  .portfolio-grid-two .portfolio-grid-three {
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .pricing {
    max-width: 100%;
  }
  .languages-container {
    padding: 0;
  }
}

/* Mobile */
@media (max-width: 560px) {
  .container {
    padding: 0 15px;
  }
  .header,
  .languages,
  .portfolio-header,
  .about-header {
    background-attachment: scroll;
  }
  .navbar {
    height: 150px;
    padding-top: 0.5em;
  }
  .navbar .flex {
    flex-direction: column;
  }
  .navbar ul {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .showcase-form {
    width: 110%;
  }
  .stats .grid {
    margin: 0;
  }
  .stats .one:hover::after,
  .stats .two:hover::after {
    bottom: -3em;
  }
  .stats .three:hover::after {
    bottom: -4em;
  }
  .stats .four:hover::after {
    bottom: -4em;
  }
}
